//background colors
$color-header: #10101d;
//$color-footer: #3D4050;
$color-footer: #FFFFFF;


//font colors
$color-logo_light: #FFFFFF;
$color-logo_dark: #42A9ED ;
$color-header-link_active: #43ABF0;
$color-header-link: #FFFFFF;
$color-input: #272733;
$color-text_dark: #000000;
$color-text_light: #FFFFFF;
$color-title-text: #3E9CDC;
$color-inform-text: #BBBBBB;
$color-payment-text: #BBBBBB;
$color-contact-text: #FFFFFF;


//button round colors
$color-order-stage_border: #286690;
$color-order-stage_background: #3E9CDC;

//button square colors
$color-button_active_background: #3E9CDC;
$color-button_active_border: #FFFFFF;
$color-button_background: #FFFFFF;
$color-button_border: #6F6D7B;


//input colors
$color-file_input_border: #3E9CDC ;
$color-input_border: #FFFFFF ;


//content-width
$content-width: 1280px;
$tablet-width: 768px;
$mobile-big-width: 320px
