.block {
  width: 100%;
  background-image: url("/assets/foto_background.jpeg");
  background-repeat: no-repeat;
  background-size: auto;
}
.main {
  max-width: 1210px;
  margin: 0 auto;
}
.order {
  max-width: 1210px;
  margin: 0 auto;
}

.main__header {
  @extend %font-heavy;
  @include font(4.8rem, 5.8rem, 700);
  margin-top: 103px;
  text-transform: uppercase;
  margin-bottom: 80px;
  width: 780px;

}
.main__header span {
  color: $color-title-text;
}

.main__content {
  @extend %font-heavy;
  @include font(2.0rem, 2.4rem, 700);
  color: $color-text_dark;
  margin-bottom: 10px;
}

.main__content-list {
  margin-bottom: 80px;
}

.main__content-list-item {
  @extend %font-regular;
  @include font(2.0rem, 2.4rem);
  color: $color-text_dark;
}
button:last-child {
  margin-left: 30px;
}
.buttons-wrapper{
  padding-bottom: 150px;
}

