* {
  margin: 0 0;
}

html {
  font-size: 10px;

}

header {
  width: 100%;
  background-color: $color-header;
  opacity: 0.8;
  position: sticky;
  //border: 2px solid red;
}
main {
  width: 100%;
  background-image: url("/assets/fon.png");
  background-repeat: no-repeat;
  background-size: auto;
  //background-color: $color-header;

}

footer {
  width: 100%;
  background-color: $color-footer;
}

body {
  position: relative;
  @extend %font-prim;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  @include font($height: 5.8rem, $size: 4.8rem);
  color:  $color-text_dark;
  @include media-mobile {
    @include font($height: 3.0rem, $size: 1.6rem);
  }
}

h2 {
  @include font($height: 2.4rem, $size: 2rem);
  color: $color-text_dark;
}
