.button {
  @extend %font-prim;
  @include font($size: 1.3rem, $height: 1.6rem);
  border: 2px solid $color-button_border;
  padding: 15px 42px;
  cursor: pointer;
  text-transform: capitalize;
  color: $color-text_dark;
  background-color: $color-button_background;
}
.colored {
  background-color: $color-button_active_background;
  color: $color-text_light;
}

.big {
  padding: 18px 135px;
}
