.button {
  @extend %font-regular;
  @include font(1.3rem, 1.6rem);
  border: 2px solid $color-button_border;
  padding: 15px 42px;
  cursor: pointer;
  text-transform: uppercase;
  color: $color-text_dark;
  background-color: $color-button_background;
  box-sizing: border-box;
  @media screen and (max-width: $mobile-big-width) {
    padding: 10px 20px;
  }
}
.colored {
  background-color: $color-button_active_background;
  color: $color-text_light;
}

.big {
  padding: 18px 135px;
  margin-bottom: 150px;
  @media screen and (max-width: $mobile-big-width) {
    padding: 10px 20px;
    margin: 20px 0;
  }
}
