@font-face {
  font-family: "Lato-Heavy";
  src:
          url("../fonts/Lato-Heavy.woff") format('woff');
}

@font-face {
  font-family: "Lato-Regular";
  src:
          url("../fonts/Lato-Regular.woff") format('woff');
}
