input::placeholder {
  color: $color-input;
}
.select-list {
  width: 370px;
  background-color: $color-input_border;
  opacity: 0.85;
  border-radius: 3px;
  border: 1px solid $color-input_border;
  @extend %font-prim;
  @include font(1.8rem, 2.2rem);
  padding: 12px 36px 12px 10px ;
}

input[type='email'] {
  width: 370px;
  background-color: $color-input_border;
  opacity: 0.85;
  border-radius: 3px;
  border: 1px solid $color-input_border;
  @extend %font-prim;
  @include font(1.8rem, 2.2rem);
  padding: 12px 36px 12px 10px ;
}

input[type='text'] {
  width: 370px;
  background-color: $color-input_border;
  opacity: 0.85;
  border-radius: 3px;
  border: 1px solid $color-input_border;
  @extend %font-prim;
  @include font(1.8rem, 2.2rem);
  padding: 12px 36px 12px 10px ;
}

input[type='file'] {
  width: 370px;
  background-color: $color-input_border;
  border-radius: 3px;
  border: 1px solid $color-input_border;
  @extend %font-prim;
  @include font(1.8rem, 2.2rem);
  position: relative;
  text-align: right;
  -moz-opacity:0 ;
  opacity: 0;
  z-index: 2;
}

#file {
  background-image: url("assets/file.png");
  background-repeat: no-repeat;
  text-align: center;
}
.add-file-block {
  position: relative;
}
.fake-add-file {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}



