input::placeholder {
  color: $color-input;
}
input {
  width: 370px;
  padding: 0 10px;
  height: 48px;
  background-color: $color-input_border;
  opacity: 0.85;
  border-radius: 3px;
  border: 1px solid $color-input_border;
  @extend %font-regular;
  @include font(1.8rem, 2.2rem);
  @media screen and (max-width: $mobile-big-width) {
    width: 80%;
  }
}

.select-list {
  width: 370px;
  padding: 0 10px;
  height: 48px;
  background-color: $color-input_border;
  opacity: 0.85;
  border-radius: 3px;
  border: 1px solid $color-input_border;
  @extend %font-regular;
  @include font(1.8rem, 2.2rem);
  @media screen and (max-width: $mobile-big-width) {
    width: 80%;
  }
}

input[type='email'] {
}

input[type='text'] {
}

input[type='file'] {
  position: relative;
  text-align: right;
  -moz-opacity:0 ;
  opacity: 0;
  z-index: 2;
}

#file {
  background-image: url("../assets/file.svg");
  background-position: 25% 55%;
  background-repeat: no-repeat;
  text-align: center;
  @media screen and (max-width: $mobile-big-width) {
    background-image: none;
    background-position: unset;
  }
}
.add-file-block {
  position: relative;
  @media screen and (max-width: $mobile-big-width) {
    right: 255px;
    top: 50px
  }
}
.fake-add-file {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}



